/* services page */
.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
    .image {
    width: 30%;
    /* height: 400px; */
    margin: 20px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    }
    .image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
    .image h1 {
    padding: 10px;
    font-size: 20px;
    margin: 0px;
    }
    .image h3 {
    padding: 10px;
    font-size: 16px;
    margin: 0px;
    }
    .image p {
    padding: 20px;
    font-size: 1em;
    margin: 0px;
    text-align: justify;
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
    }
    .image button{
    outline: none;
    padding: 12px;
    font-size: 1em;
    background-color: rgb(29, 54, 63);
    color: #fff;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    }
    .home-link{
    width: 200px;
    margin-top: 50px;
    margin-left: 50px;
    text-transform: capitalize;
    }
    table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 50px;
    }
    th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    }
    th {
    background-color: #dddddd;
    color: rgb(29, 54, 63);;
    }
    @media (max-width: 767px) {
    .image {
    width: 100%;
    height: auto;
    }
    }