* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 30px;
    background-color: rgb(29, 54, 63);
    color: #fff;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-links a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  .logo {
    font-size: 1.5em;
    letter-spacing: .2em;
    font-weight: bold;
    text-transform: uppercase;
    /* background-color: bisque; */
  }
  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    /* background-color: aliceblue; */
  }
  .image {
    /* border: 1pxx solid rgb(29, 54, 63); */
    width: 45%;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    /* background-color:burlywood; */
  }
  p.location{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  .hours-heading{
    text-align: center;
    margin: 20px;
  }

  .toggle-color button{
    padding: 5px;
    width: 140px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: lightcyan;
}

  @media (max-width: 767px) {
    .image {
      width: 100%;
      margin: 20px 0;
    }
  }